<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

<script language="JavaScript" type="text/javascript"> window.history.forward(); </script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
body, html {
    height: 100%;
    background-repeat: no-repeat;
   
}

.card-container.card {
    max-width: 600px;
    padding: 20px 40px;
}
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}</style>
<body>
<div class="form-group row"
		style="background-color: #005aab; text-align: center; color: white; font-size: 40px; font-family: 'Bell MT'" font-family= "Berlin Sans FB" >
		<table>
			<tr>
				<th class="col-sm-1 col-sm-offset-1"><img
					src="https://productivity.vistaarfinance.net.in:442/pictures/vistaar-L.jpg"
					height="45px" padding-bottom:"30px" /></th>

				<th class="col-sm-10 col-sm-offset-2"><center>Declaration Of Good Health</center></th>

			</tr>
		</table>
	</div>
 <!-- <div style="width: 400px; background-color: #fff; padding: 15px;"> -->
 <div class="container" >
        <div class="card card-container">
        
  <form method="post" enctype="application/x-www-form-urlencoded" action="authorize" >
          <AZ-INJECT-HIDDEN-INPUT-FIELDS/>
         
          <p>I hereby declare that i am in sound health without taking any medicine,and I do not have any Physical defect, deformity or disability.
              I further declare that I perform all my routine activities independently,that I do not have any history of,have never suffered from,am not currently suffering from,nor have I received,nor do I expect to receive any treatment,nor been hospitalized,for any of the following:</p><DISPLAY-RESOURCE-OWNER/>
          <p>1. Cancer 2. Heart Disease or heart attack 3. Stroke 4. Diabetes Mellitus 5. Hypertension 6. Cholesterol diagnosed by a
           doctor, hospital or clinic as being raised above normal limits 7. Chest and/or heart surgery, nor have I been advised
          medically to undergo chest and/or heart surgery in the future 8. Kidney Disease 9. Liver Disease including hepatitis 10.
          Any type of Bowel Disease 11. Paralysis or Paraplegia 12. Major organ failure (for example - kidney, liver etc.) 13 Major
          organ transplantation (for example – heart, liver, kidney etc.) nor have I been advised to undergo any major organ
          transplantation in the future 14. Any neurological or nervous disorders 15. HIV infections, AIDS or Venereal Diseases
           16. Any other disease or disorder, not mentioned above and excluding minor complaints such as colds or flu.
          </p><OAUTH-APPLICATION-NAME/>
          <br />
      
          <p><input type="checkbox" name="terms"> I further declare that the above statement are true and complete in every respect related to my health</p>
          
     </form>
   
</div>
</div>

<div class="text-center">
        
        <button type="button" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-warning">  <a href="Pre-offer.jsp" >Send Back</a></button>
        
        </div>
        
</body>
</html>